<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h1>Form</h1>
    <form action="/app03/index/" method='POST'>
        <div>
            username:{{data.username}}
        </div>
        <div>
            email:{{data.email}}
        </div>
        <div>
           ip: {{data.ip}}
        </div>
        <div>
            <input type="submit" value="提交"/>
            <lable style="color:red;">{{ error }}</lable>
        </div>
    </form>
</body>
</html>