<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link type="text/css" rel="stylesheet" href="/static/css/bbs.css">
{%block css%}{endblock}
</head>
<body>
    <div class="pg-header">
        <div class="w clearfix">
            <div class="logo left"></div>
            <div class="meun left">
                <a href="#" class="tb current">全部</a>                
                <a href="#" class="tb">42区</a>
                <a href="#" class="tb">段子</a>
                <a href="#" class="tb">老男孩</a>
            </div>
        </div>
    </div>
   <div class="pg-body">
        {%block body%}{%endblock%}
   </div>
   <div class="pg-footer">
       <div class="w">
           <div class="content">
               <span> 旗下站点 ©2017 chouti.com 京ICP备09053974号-3 京公网安备 110102004562</span>
           </div>
       </div>
   </div>
   <script src="/static/js/jquery-1.11.1/jquery.min.js"></script>
   {%block js%}{%endblock%}
</body>
</html>