{% extends "master/layout.html"%} 
<!-- 内容 -->
{% block content%}
<div> 
    <div>
        <div class="menu">
	         <ul>
                <li>
                    <a href="#010092">电信错误代码</a>
                </li>
                <li>
                    <a href="#ott-err-code">电信机顶盒型号</a>
                </li>
                <li>
                    <a href="#settop-type">C3数据采集接口规范</a>
                </li>
                <li>
                    <a href="#shdx-err-code">OTT厂商串口连接方法</a>
                </li>
                <li>
                    <a href="#shdx-err-code">终端绑定与解绑流程</a>
                </li>
		    </ul>
	    </div>
	    <div class="content-right">
	        <span>
		    说到辛酸处，荒唐愈可悲。由来同一梦，休笑世人痴！ 

            作者题绝 
            满纸荒唐言，一把辛酸泪！都云作者痴，谁解其中味？ 

            青埂峰偈 
            无材可去补苍天，枉入红尘若许年。此系身前身后事，倩谁记去作奇传？ 

            嘲顽石诗 
            女娲炼石已荒唐，又向荒唐演大荒。失去幽灵真境界，幻来亲就臭皮囊。 

		    </span>
	    </div>
    </div>
</div>
{% endblock %}