<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
    <form action="app01/login/" method="POST">
        <div>
            <div>
                <input name= "username" placeholder="用户名"/>
            </div>
            <div>
                <input name="password" placeholder="密码"/>
            </div>
            <div>
                <input type="submit" value="提交"/>
                <lable style="color:red;">{{ status }}</lable>
            </div>
        </div>
    
    </form>
</body>
</html>