<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
    <input id='na' type='text' />
    <input type='button' value='点击执行ajax请求' onclick="doAjax();"/>
    
    <script src="/static/jquery-1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        function doAjax(){
            var tmp = $('#na').val();
            $.ajax({
                url:'app04/ajax/',
                type:'POST',
                data:{dat:tmp},
                success:function(arg){
                    var obj = jQuery.parseJSON(arg);
                    console.log(obj.status);
                    console.log(obj.msg);
                    console.log(arg);
                    console.log('success');
                    $('#na').val(obj.msg);
                },
                error:function(arg){
                    console.log('failed');
                }
            });
        }      
    </script>
</body>
</html>